myapp/src/myservice.wsdl


<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="TestJaxWsService"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:tns="http://example.com/sample"
  targetNamespace="http://example.com/sample">
  
  <wsdl:types>
    <xsd:schema targetNamespace="http://example.com/sample">
      <!-- 要求メッセージの wrapper要素 -->
      <xsd:element name="jaxWsTest1" type="tns:jaxWsTest1"/>
      
      <!-- 応答メッセージの wrapper要素 -->
      <xsd:element name="jaxWsTest1Response" type="tns:jaxWsTest1Response"/>
      
      <!-- フォルトメッセージの wrapper要素 -->
      <xsd:element name="UserDefinedFault" type="tns:UserDefinedFault"/>
      
      <!-- 要求メッセージの wrapper要素が参照する型 -->
      <xsd:complexType name="jaxWsTest1">
        <xsd:sequence>
          <xsd:element name="information" type="xsd:string"/>
          <xsd:element name="count" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      
      <!-- 応答メッセージの wrapper要素が参照する型 -->
      <xsd:complexType name="jaxWsTest1Response">
        <xsd:sequence>
          <xsd:element name="return" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      
      <!-- フォルトメッセージの wrapper要素が参照する型 -->
      <xsd:complexType name="UserDefinedFault">
        <xsd:sequence>
          <xsd:element name="additionalInfo" type="xsd:int"/>
          <xsd:element name="detail" type="xsd:string"/>
          <xsd:element name="message" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
 
  <!-- 要求メッセージ -->
  <wsdl:message name="jaxWsTest1Request">
    <wsdl:part name="inputParameters" element="tns:jaxWsTest1"/>
  </wsdl:message>
 
  <!-- 応答メッセージ -->
  <wsdl:message name="jaxWsTest1Response">
    <wsdl:part name="outputParameters" element="tns:jaxWsTest1Response"/>
  </wsdl:message>
 
  <!-- フォルトメッセージ -->
  <wsdl:message name="UserDefinedException">
    <wsdl:part name="fault" element="tns:UserDefinedFault"/>
  </wsdl:message>
 
  <!-- ポートタイプ -->
  <wsdl:portType name="TestJaxWs">
    <!-- オペレーション -->
    <wsdl:operation name="jaxWsTest1">
      <wsdl:input message="tns:jaxWsTest1Request"/>
      <wsdl:output message="tns:jaxWsTest1Response"/>
      <wsdl:fault name="UserDefinedFault" 
        message="tns:UserDefinedException"/>
    </wsdl:operation>
  </wsdl:portType>
 
  <!-- バインディング(SOAP 1.1/HTTPバインディング) -->
  <wsdl:binding name="testJaxWsBinding" type="tns:TestJaxWs">
    <!-- document/literal/wrapped -->
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <!-- オペレーション -->
    <wsdl:operation name="jaxWsTest1">
      <soap:operation/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UserDefinedFault">
        <soap:fault name="UserDefinedFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
 
  <!-- サービス -->
  <wsdl:service name="TestJaxWsService">
    <!-- ポート -->
    <wsdl:port name="testJaxWs" binding="tns:testJaxWsBinding">
      <soap:address location="http://webhost:8085/fromwsdl/TestJaxWsService"/>
    </wsdl:port>
  </wsdl:service>
 
</wsdl:definitions>
SOAP 1.2の場合の作成例を次に示します。

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="TestJaxWsService"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:tns="http://example.com/sample"
  targetNamespace="http://example.com/sample">
  
  <wsdl:types>
    <xsd:schema targetNamespace="http://example.com/sample">
      <!-- 要求メッセージの wrapper要素 -->
      <xsd:element name="jaxWsTest1" type="tns:jaxWsTest1"/>
      
      <!-- 応答メッセージの wrapper要素 -->
      <xsd:element name="jaxWsTest1Response" type="tns:jaxWsTest1Response"/>
      
      <!-- フォルトメッセージの wrapper要素 -->
      <xsd:element name="UserDefinedFault" type="tns:UserDefinedFault"/>
      
      <!-- 要求メッセージの wrapper要素が参照する型 -->
      <xsd:complexType name="jaxWsTest1">
        <xsd:sequence>
          <xsd:element name="information" type="xsd:string"/>
          <xsd:element name="count" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      
      <!-- 応答メッセージの wrapper要素が参照する型 -->
      <xsd:complexType name="jaxWsTest1Response">
        <xsd:sequence>
          <xsd:element name="return" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      
      <!-- フォルトメッセージの wrapper要素が参照する型 -->
      <xsd:complexType name="UserDefinedFault">
        <xsd:sequence>
          <xsd:element name="additionalInfo" type="xsd:int"/>
          <xsd:element name="detail" type="xsd:string"/>
          <xsd:element name="message" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
 
  <!-- 要求メッセージ -->
  <wsdl:message name="jaxWsTest1Request">
    <wsdl:part name="inputParameters" element="tns:jaxWsTest1"/>
  </wsdl:message>
 
  <!-- 応答メッセージ -->
  <wsdl:message name="jaxWsTest1Response">
    <wsdl:part name="outputParameters" element="tns:jaxWsTest1Response"/>
  </wsdl:message>
 
  <!-- フォルトメッセージ -->
  <wsdl:message name="UserDefinedException">
    <wsdl:part name="fault" element="tns:UserDefinedFault"/>
  </wsdl:message>
 
  <!-- ポートタイプ -->
  <wsdl:portType name="TestJaxWs">
    <!-- オペレーション -->
    <wsdl:operation name="jaxWsTest1">
      <wsdl:input message="tns:jaxWsTest1Request"/>
      <wsdl:output message="tns:jaxWsTest1Response"/>
      <wsdl:fault name="UserDefinedFault" 
        message="tns:UserDefinedException"/>
    </wsdl:operation>
  </wsdl:portType>
 
  <!-- バインディング(SOAP 1.2/HTTPバインディング) -->
  <wsdl:binding name="testJaxWsBinding" type="tns:TestJaxWs">
    <!-- document/literal/wrapped -->
    <soap12:binding style="document" transport="http://www.w3.org/2003/05/soap/bindings/HTTP/"/>
    <!-- オペレーション -->
    <wsdl:operation name="jaxWsTest1">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UserDefinedFault">
        <soap12:fault name="UserDefinedFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
 
  <!-- サービス -->
  <wsdl:service name="TestJaxWsService">
    <!-- ポート -->
    <wsdl:port name="testJaxWs" binding="tns:testJaxWsBinding">
      <soap12:address location="http://webhost:8085/fromwsdl/TestJaxWsService"/>
    </wsdl:port>
  </wsdl:service>
 
</wsdl:definitions>